<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body class="container">

    <%- include ("../partials/header") %>
    <main>
        <div class="jumbotron">
            <h2><%= new_heading %> </h2>
            <p><%= new_content %></p>
        </div>
    </main>

    <%- include ("../partials/footer") %>
</body>

</html>